[Unit]
Description=Cjdns network
After=network.target cjdns.service

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=/bin/bash -c '__INSTALL_DIR__/cjdroute < __INSTALL_DIR__/cjdroute.conf'
KillMode=process
Restart=no

[Install]
WantedBy=multi-user.target
