[Unit]
Description=Cjdns network
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=__DATA_DIR__/
ExecStart=/bin/bash -c '__DATA_DIR__/cjdroute < __DATA_DIR__/cjdroute.conf'
KillMode=process
Restart=no

[Install]
WantedBy=multi-user.target
